
.about-row{
    min-height: 300px;
    width: 100%;
    padding-top: 80px;
}
.about-second-row{
    min-height: 550px;
    width: 100%;
    padding-bottom: 30px;
}
.paragraph{
    padding-top: 50px;
}

.about-img{
    width: 100%;
    height: 400px;
}